input[type=button] {
	background-color:#333;
	background:-moz-linear-gradient(top, #444 35%, #333 65%);
	background:-webkit-linear-gradient(top, #444 35%, #333 65%);
	background:linear-gradient(to bottom, #444 35%, #333 65%);
	border:2px solid #333 !important;
	-webkit-border-radius:5px;
	border-radius:5px;
	color:#fff;
	cursor:pointer;
	display:inline-block;
	font:bold 13px/18px 'Trebuchet MS', Arial, Helvetica, sans-serif;
	height:21px;
	margin:0;
	padding:0 10px;
	text-decoration:none;


}       

input[type=button]:hover {
	text-decoration:none;
	text-shadow:#000 0 1px 1px;
	background:-moz-linear-gradient(top, #333 35%, #444 65%);
	background:-webkit-linear-gradient(top, #333 35%, #444 65%);
	background:linear-gradient(to bottom, #333 35%, #444 65%);


}
 

input[type=button]:focus {
	color:#FFF;
	background:-moz-linear-gradient(top, #333 35%, #444 65%);
	background:-webkit-linear-gradient(top, #333 35%, #444 65%);
	background:linear-gradient(to bottom, #333 35%, #444 65%);
}